@model GigHub.ViewModels.GigFormViewModel
@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading a Gig</h2>


@using (Html.BeginForm(Model.Action, "Gigs"))
{
    <p class="alert alert-info">All fields are<strong>Required.</strong></p>

    @Html.AntiForgeryToken()
        
    @Html.HiddenFor(model=> model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Location, new { htmlAttributes = new { @class = "control-lable" } })
        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Location", autofocus= "autofocus" } })
        @Html.ValidationMessageFor(model => model.Location)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Date)
        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg. 30/01/2020" } })
        @Html.ValidationMessageFor(model => model.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Time)
        @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg. 21:30" } })
        @Html.ValidationMessageFor(model => model.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.GenreId)
        @Html.DropDownListFor(model => model.GenreId, new SelectList(Model.Genres, "Id", "Name"), "-Select Genre-", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.GenreId)


    </div>
    <button type="submit" class="btn btn-primary">@Model.Heading</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}