<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add New Gig", "Create", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            @RenderBody()


        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -GigHub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/Lib")
    @RenderSection("scripts", required: false)

    @*//type="text/x-template" to make browser Ignore script to be able to write Underscore *@
    <script type="text/x-template" id="notification-template">
        <ul class="notifications">
            <%_.each(notifications.notifications,function(notifcation){

                    //Check if This notifcation Readed Before Or Not/////////
                    if(notifications.count.length > 0){
                                notifications.count.forEach(function(singleId){
                                             if(notifcation.Id == singleId){
                                            notifcation.IsRead = true;
                                          }
                                });                         
                    }


                if(notifcation.Type == 1){
                    if(notifcation.IsRead){%>
                             <li class="well single-notify"><span class="highlight"> <%=notifcation.Gig.Artist.Name %></span> has Canceled the Gig at <%=notifcation.Gig.Location%> at <%=moment(notifcation.Gig.DateTime).format(' Do MMM HH:mm')%></li>           
                    <%}
                      else{%>
                               <li><span class="highlight"> <%=notifcation.Gig.Artist.Name %></span> has Canceled the Gig at <%=notifcation.Gig.Location%> at <%=moment(notifcation.Gig.DateTime).format(' Do MMM HH:mm')%></li>
                     <%}
                 }

            else if(notifcation.Type == 2){
                var changes = [], oldValues = [], newValues = [];

                    if( notifcation.OldLocation != notifcation.Gig.Location ){
                        changes.push('Location');
                        oldValues.push(notifcation.OldLocation);
                        newValues.push(notifcation.Gig.Location);
                    }

                    if(notifcation.OldDateTime != notifcation.Gig.DateTime){
                            changes.push('date/time');
                            oldValues.push(moment(notifcation.OldDateTime).format(' Do MMM HH:mm'));
                            newValues.push(moment(notifcation.Gig.DateTime).format(' Do MMM HH:mm'));
                        }

                    if(notifcation.IsRead){%>
                               <li class="well single-notify"><span class="highlight"> <%=notifcation.Gig.Artist.Name %> </span> has Updated the <%= changes.join(' and ') %>  of the Gig <strong>from</strong> <%= oldValues.join(' / ')%> <strong>to</strong> <%= newValues.join('/') %></li>            
                   <%}else{%>
                               <li class="single-notify"><span class="highlight single-notify"> <%=notifcation.Gig.Artist.Name %> </span> has Updated the <%= changes.join(' and ') %>  of the Gig <strong>from</strong> <%= oldValues.join(' / ')%> <strong>to</strong> <%= newValues.join('/') %></li>
                     <%}
                            
               }

            })%>

        </ul>
    </script>
</body>
</html>

