@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm("Search", "Gigs", FormMethod.Post))
{
    <div class="form-group search-box">
        <div class="input-group">
            @Html.EditorFor(m => m.SearchTerm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search artist, genre, Location" } })
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>
}


<ul class="upcomeing-gigs-list">
    @foreach (var gig in Model.UpComeingGigs)
    {
        <li class="col-xs-12 col-sm-6 col-md-3">
            <div class="date">
                <div class="month">@gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.Day</div>
            </div>

            <div class="details">
                <p class="artist">
                    <a href="@Url.Action("Details","Gigs",new { id= gig.Id })">@gig.Artist.Name</a>
                </p>

                <span>
                    <a href="#" class="followLinkBtn" data-artist-id="@gig.Artist.Id">Follow</a>
                </span>

                @if (gig.IsCanceled)
                {
                    <span class="label label-warning">Canceled</span>
                }

                <p class="genre">@gig.Genre.Name</p>
                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button
                            class="btn @(Model.Attendances.Contains(gig.Id)? "btn-info": "btn-default") btn-sm attend-gig-btn"
                            data-gigId="@gig.Id">Going <span class="question-mark">?</span></button>

                }
            </div>
        </li>
    }
</ul>


@section Scripts
    {
    @*<script src="~/Scripts/MainScript.js"></script>*@

}